body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#container {
    text-align: center;
    margin: 0 auto;
}

/* ------------------------Search-------------------------- */
#searchInput {
    width: 520px;
    font-size: 1em;
}

#searchBtn {
    font-size: 1em;
}

#error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    display: none;
}

/* -------------------Information display------------------ */
#display {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h3 {
    margin-bottom: 5px;
}

/* -------------------------Profile------------------------- */
#profileBox {
    width: 300px;
    text-align: left;
}

#profileContent {
    width: auto;
}

#profileImage {
    height: 250px;
    text-align: center;
}

#pImage {
    width: 250px;
    aspect-ratio: 1/1;
    border: none;
}

.profileDetail {
    border: solid 1px black;
    padding: 10px;
    margin-top: -1px;
}

/* --------------------------Repos------------------------- */
#reposBox {
    width: 300px;
    text-align: left;
}

#reposContent {
    height: 400px;
    width: auto;
}

.repo {
    border: solid 1px black;
    padding: 10px;
    margin-top: -1px;
}

#rName {
    margin-bottom: 5px;
}